@import '../../Utilities/mixins.scss';
@import '../../Utilities/Container.scss';

html {
  overflow-x: hidden;
}

ul {
  list-style: none;
}

.phones {
display: block;

  &__subtitle {
  font-weight: 400;
  line-height: 21px;
  color: #89939A;
}

  &__count-title {
    font-weight: 400;
    font-size: 12px;
    color: #89939A;
    line-height: 15px;
  }


  &__cards {

    display: block;

    @include onTablet {
      display: grid;
      gap: 40px 16px;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
      align-items: center;
    }

    @include onDesktop {
      display: grid;
      gap: 40px 16px;
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;
    }
  }

  &__title {
    font-family: Mont;
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 10px;

    @include onTablet {
      font-size: 48px;
    }
  }
}

.select-count {
  min-width: 128px;
  min-height: 40px;
  border-color: #89939A;
  margin-bottom: 24px;
  border-radius: 8px;
  color: #89939A;
  padding: 0px 5px;

  &__text {
    font-weight: 700;
    line-height: 21px;
    color: #000;
  }
}