.card {
  border: 1px solid #E2E6E9;
  border-radius: 8px;
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s;

    &:hover {
      transform: scale(1.05);
    }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 32px;
  }

  &__image {
    margin: 0 auto;
    height: 200px;
    min-width: 160px;
    margin-bottom: 24px;
    padding: 0px 20px;
  }

  &__name {
    color: #0F0F11;
    font-weight: 600;
    font-size: 14px;
    height: 30px;
    line-height: 130%;
  }

  &__price {
    display: flex;
    margin: 10px 0 28px;
    position: relative;

    &-new {
        margin-right: 8px;
        color: #0F0F11;
        font-weight: 800;
        font-size: 22px;
      }

    &-old {
      font-weight: 600;
      font-size: 22px;
      text-decoration-line: line-through;
      color: #89939A;
    }
  }

  &__price::after {
    content: '';
    position: absolute;
    border: 1px solid #E2E6E9;
    left: 0;
    bottom: -10px;
    width: 100%;
  }

  &__characteristics {
    margin-bottom: 16px;
  }

  &__description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;

    &-title {
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      color: #89939A;
    }

    &-value {
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      color: #0F0F11;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    height: 40px;
  }

  &__cart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    color: #FFF;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    background: #216CFF;
    border-radius: 8px;
    margin-right: 8px;
    transition: 300ms box-shadow;
    border: none;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 3px 13px rgba(23, 32, 49, 0.4);
    }
  }

  &__link {
    padding: 12px;
    border: 1px solid #B4BDC3;
    border-radius: 50%;
    transition: 300ms border;

    &:hover {
      border: 1px solid #0F0F11;
    }
  }

  &__heart:hover {
    background-color: pink;
  }
}

.card__cart-active {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  color: #216CFF;
  font-family: 'Mont';
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  background: #FFF;
  border-radius: 8px;
  margin-right: 8px;
  transition: 300ms box-shadow;
  cursor: pointer;
  // border: 1 px solid #E2E6E9;
  outline: 0;
  border: 1px solid #E2E6E9;
}