

.hi {
  min-height: 100%;
  background-color: #f3f3f3;
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  background-color: #D8D8D8;
}

.for-burger {
  display: flex;
  justify-content: space-between;
  padding: 32px;
  border-bottom: 1px solid #E2E6E9;
}


.burger-list {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
}

.burger_item {
  display: block;
  margin-bottom: 32px;
  color: #89939A;
  text-transform: uppercase;
}

.bottom-burger {
  border-top: 1px solid #E2E6E9;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.x {
  width: 20px;
  height: 20px;
}
