@mixin onMokup {
  @media (min-width: 640px) and (max-width: 1199px) {
    @content;
  }
}

@mixin onPhone {
  @media (min-width: 320px) and (max-width: 639px) {
    @content;
  }
}

@mixin onStandartScreen {
  @media (min-width: 1200px) and (max-width: 1201px) {
    @content;
  }
}

.header {
  height: var(--header-hight);
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;

  @include onPhone {
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 14px;
    margin-left: 16px;
    align-items: center;
    padding: 0;
    
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include onPhone {
      align-items: flex-start;
      margin: 0;
      justify-content: space-between;
    }

    @include onMokup {
      gap: 120px;
    }

    @include onStandartScreen {
      gap: 520px;
    }
  }
}

.menu__container {
  margin: 0;
  display: flex;
  align-items: center;
}


.nav {
  display: flex;
  gap: 64px;
  margin-left: 48px;

  @include onPhone {
    display: none;
  
  }

  @include onMokup {
    margin-left: 32px;
    gap: 32px;
  }

  &__link {
    position: relative;
    text-transform: uppercase;
    color: #89939a;
    font-family: 'Mont';
    font-style: normal;
    font-weight: 800;
    size: 12px;
    line-height: 11px;
    letter-spacing: 0.04em;
    text-decoration: none;
  }

  &__item {
    list-style-type: none;
  }
}

.images {
  position: relative;
}

.hand {
  position: absolute;
  left: 50.2%;
  right: 36.15%;
  top: 0%;
  bottom: 47.91%;
  width: 12px;
  height: 16px;
}

.top_img {
  display: flex;
  gap: 50px;

  @include onMokup {
    gap: 37px;
  }

  @include onPhone {
    width: 10px;
  }
}

.is-active {
  color: black;
}

.is-active::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  height: 4px;
  border-radius: 2px;
  background-color: black;
}

.cart {
  display: none;

  @include onPhone {
    display: inline;
  }
}

.heart {

  @include onPhone{
    display: none;
  }
}

.bucket {
  @include onPhone {
    display: none;
  }
}
