@mixin onMokup {
  @media (min-width: 640px) and (max-width: 1199px) {
    @content;
  }
}

@mixin onPhone {
  @media (min-width: 320px) and (max-width: 639px) {
    @content;
  }
}

@mixin onStandartScreen {
  @media (min-width: 1200px) and (max-width: 1201px) {
    @content;
  }
}

.header {
  padding: 15px;
  background-color: #fff;
  border-bottom: 2px solid #E2E6E9;

  @include onPhone {
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 14px;
    margin-left: 16px;
    align-items: center;
    padding: 0;
  }

  @include onMokup {
    padding-right: 22px;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include onPhone {
      align-items: flex-start;
      margin: 0;
      justify-content: space-between;
    }
  }
}

.menu__container {
  margin: 0;
  display: flex;
  align-items: center;
}


.nav {
  display: flex;
  gap: 64px;
  margin-left: 48px;

  @include onPhone {
    display: none;
  
  }

  @include onMokup {
    margin-left: 32px;
    gap: 32px;
  }

  &__item {
    list-style-type: none;
  }
}

.images {
  position: relative;
}

.hand {
  position: absolute;
  left: 50.2%;
  top: 0%;
  bottom: 47.91%;
  width: 12px;
  height: 16px;
}

.top_img {
  display: flex;
  gap: 50px;

  @include onMokup {
    gap: 37px;
  }

  @include onPhone {
    margin-top: 5px;
    margin-right: 20px;
  }
}


.link {
  position: relative;
  text-transform: uppercase;
  color: #89939a;
  font-family: 'Mont';
  font-style: normal;
  font-weight: 800;
  size: 12px;
  line-height: 11px;
  letter-spacing: 0.04em;
  text-decoration: none;

  &__active {
    color: black;

    &::after {
      content: "";
      position: absolute;
      bottom: -22px;
      left: 0;
      right: 0;
      height: 3px;
      border-radius: 2px;
      background-color: black;
      opacity: 0;
      transition: opacity 0.5s 0s;
    }

    &:hover::after {
      opacity: 1;
    }
  }
}

.cart {
  display: none;

  @include onPhone {
    display: none;
  }
}

.heart {
  //padding: 0px 25px;

  @include onPhone{
    display: none;
  }
}

.bucket {
  
  @include onPhone {
    //display: none;
  }
}

.container_img {
  position: relative;

    &::after {
      content: "";
      position: absolute;
      top: -33px;
      left: -25px;
      width: 2px;
      height: 76px;
      background-color: #E2E6E9;

      @include onPhone {
        display: none;
      }

      @include onMokup {
        display: none;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: -33px;
      right: -25px;
      width: 2px;
      height: 76px;
      background-color: #E2E6E9;

      @include onMokup {
        display: none;
      }

      @include onPhone {
        display: none;
      }
    }
}